form {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 300px;
  justify-content: space-evenly;
  font-weight: 600;

  input[type=text] {
    width: 100%; 
    padding: 8px 4px;
    border-radius: 4px;
  }

  input[type=submit] {
    background-color: black;
    color: white;
    padding: 8px 4px;
    border-radius: 4px;
    cursor: pointer;
    width: 95%;
  }


  input {
    margin-left: 10px;
  }

}

.task-list {
  margin-top: 20px;
  width: 100%; 
}


.task-item {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 13px 15px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px; 
  border-left: 5px solid green;
  cursor: pointer;

  h2 {
    font-size: 20px;
    margin: 0;
  }

  p {
    font-size: 15px;
  }

  .MuiSvgIcon-root {
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: red;
  }

  
}